/* Base Element Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Helvetica', 'Sofia', sans-serif;
    background-color: #e0d7fa;
    text-align: center;   
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;  
    color: rgb(109, 5, 109); 
    
}

ul li{
    background-color: white;
    display: block; 
    padding: 10px 15px; 
    font-weight: 900;
    font-size: medium;
    margin: 5px 10px;
    
}    
 
img {  
    max-width: 100%;
}



/* Base Layout Styles */

#name,
#portfolio {
    color: rgb(109, 5, 109);
    font-family: Sofia;
}

.main-nav {
    padding-left: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
}

#description {
    color: purple;
    text-align: center;
    margin: 30px 15px;
    }

.profile-image {
    width: 75%;
}

.container { 
    padding: 1em;
    background-color: white; 
 }    

    
a:hover {
    color: rgb(214, 129, 207);
}

.ft-nav {
    display: none;
}

#footer-name {
    position: absolute;
    color: purple;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 10px;
}    

#backtop {
    float: right;
    margin: 15px;
}

.bottom-banner {
    margin-top: 50px;
}

/* Media Query */
 
@media (min-width: 768px) {
    
    ul li{
        width: 20%;   
        display: inline-block; 
        background-color: transparent;
    } 

    .profile-image {
        width: 45%;
        float: right;
        margin-bottom: 0;
    }

    #description {
        width: 50%;
        text-align: left;
        float: left;
    }     

    #portfolio {
        margin-bottom: 50px;
    }

    .col { 
        width: 50%;
        float: left;   
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 25px;
    }
         
    .banner {
        margin: 50px 20px;
    }    

    #footer-name {
        position: absolute;
        padding: 0;
        margin-top: 30px;
        color: purple;
    }
        
    .ft-nav {
        display: inline;
        float: right;
        text-transform: uppercase;
    }
    
    #backtop {
        display: none;
    }
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

} 

@media (min-width: 1024px) {
        
    .wrap {
        max-width: 1225px;
        margin: auto;
    }

    #name {
        float: left;
        margin-left: 25px;
    }
    
    .main-nav {
        float: right;
        margin-bottom: 25px; 
    }
    
    .profile-image {
        width: 35%;
        float: right;
    }

    #description {
        width: 40%;
        text-align: left;
        margin: 0;
        float: left;
    }  
    
   
    .col { 
        width: 32.5%;
        float: left;   
        padding-left: 1em;
        padding-right: 1em;
    }
         
   
    .bottom-banner {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #footer-name {
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
    }
        
    
    .ft-nav {
        display: inline;
        float: right;
    }
    
       
    .clearfix::before {
        content: "";
        display: table;
        clear: both;
    }

    
} 